@page "/text"
<MudText Typo="Typo.h3">Styling text</MudText>

<MudText
  style="
    width: 50%;
    text-align: center;
  "
  class="mx-auto"
>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem aspernatur id minima, praesentium  nulla adipisci numquam officiis ipsa autem consequuntur harum odio quam possimus alias sit mollitia accusamus?
</MudText>
<br>
<MudButton Variant="Variant.Filled" Color="Color.Primary"
  Style="color: orange; background: #222222; font-size: 12px"
  class="mb-2 d-block"
>Primary</MudButton>

<MudButton Variant="Variant.Filled" 
  style=" color: orange; 
          background: #333333; 
          font-size: 18px; 
          text-transform: lowercase
        "
  class="mb-2 d-block"
>lowercase</MudButton>

<MudItem class="mb-2 d-flex justify-center">
  <MudButton Variant="Variant.Filled" 
    style=" color: orange; 
            background: #333333; 
            font-size: 18px; 
            text-transform: lowercase;
          "
  >Centered</MudButton>
</MudItem>

<div class="e-div">3453545</div>

<MudText Typo="Typo.h3">Title</MudText>

<MudButton Variant="Variant.Filled" 

  Style=" color: orange; 
          background: #333333; 
          font-size: 18px; 
          text-transform: lowercase;
          font-weight: 300;
        "
  Class="mb-2 d-block hover-btn"
>
  <span>lowercase</span>
</MudButton>


@code {

}
